body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f8f5f2;
}

.hero{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(#f7d6d0,#fff);
}

h1{
    font-size:48px;
}

button{
    padding:12px 25px;
    border:none;
    background:#c97b63;
    color:white;
    font-size:18px;
    border-radius:30px;
    cursor:pointer;
}

.acara,
.lokasi{
    padding:60px 20px;
    text-align:center;
}

.card{
    background:white;
    max-width:500px;
    margin:20px auto;
    padding:20px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.lokasi a{
    display:inline-block;
    margin-top:20px;
    padding:12px 24px;
    background:#c97b63;
    color:white;
    text-decoration:none;
    border-radius:30px;
}
